body {
  font-family: "Encode Sans", sans-serif;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  filter: brightness(140%);
}
img:hover {
  filter: brightness(60%);
}
/*LOGO*/
.logo-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
}
.logo-image {
  height: 36px;
  width: 171px;
}
/*MENU*/
.menu-container {
  align-items: center;
  border-bottom: 1px solid #f0ebeb;
  border-top: 1px solid #f0ebeb;
  display: flex;
  height: 40px;
  justify-content: space-around;
  margin-bottom: 30px;
}
.menu-container a {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 24px;
}
.menu-container a:first-child {
  color: #c3170c;
}
.menu-container a:nth-child(2) {
  color: #1e4b9b;
}
.menu-container a:nth-child(3) {
  color: #006766;
}
.menu-container a:nth-child(4) {
  color: #07aa47;
}
.menu-container a:nth-child(5) {
  color: #e3662b;
}
.menu-container a:nth-child(6) {
  color: #fb0735;
}
.menu-container a:nth-child(7) {
  color: #ff75bb;
}
.menu-container a:nth-child(8) {
  color: #ec7d00;
}
.menu-container a:nth-child(9) {
  color: #323333;
}
.menu-container a:last-child {
  color: #a81d83;
}
/*NEWS CONTAINER*/
.news-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
}
/*NEWS CONTAINER LEFT*/
.news-container-left {
  width: 55%;
}
/*NEWS CONTAINER TOP LEFT*/
.news-container-top-left {
  margin-bottom: 40px;
}
.news-container-top-left h3 {
  color: #303134;
  font-size: 18px;
  margin-bottom: 10px;
}
h2 {
  color: #c4160c;
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 30px;
}
/*NEWS CONTAINER BOTTOM LEFT*/
.news-container-bottom-left {
  display: flex;
  flex-wrap: wrap;
}
.post-news-container-first-bottom-left {
  margin-bottom: 30px;
}
.margin-top {
  border-top: 1px solid #ebedef;
  display: flex;
  padding-top: 30px;
}
.post-news-container-first-bottom-left,
.post-news-container-second-bottom-left {
  margin-right: 20px;
  width: 193px;
}
.post-news-container-first-bottom-left img {
  border-radius: 12px;
  height: 110px;
  margin-bottom: 10px;
  width: 193px;
}
.post-news-container-first-bottom-left a:nth-child(2),
.post-news-container-second-bottom-left a:first-child {
  color: #c4170c;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.post-news-container-first-bottom-left a:nth-child(3),
.post-news-container-second-bottom-left a:nth-child(2) {
  color: #2f3134;
  font-size: 20px;
  margin-bottom: 10px;
}
.post-news-container-first-bottom-left a:nth-child(4),
.post-news-container-second-bottom-left a:last-child {
  color: #2f3134;
  font-size: 14px;
}
/*NEWS CONTAINER RIGHT*/
.news-container-right {
  display: flex;
  width: 45%;
}
.news-container-right img {
  border-radius: 12px;
  height: 128px;
  margin-bottom: 10px;
  width: 240px;
}
/*NEWS CONTAINER FIRST RIGHT*/
.news-container-first-right {
  border-left: 1px solid #ebedef;
  flex-wrap: wrap;
  margin-right: 20px;
  padding-left: 20px;
  width: 50%;
}
.post-news-container-first-right {
  margin-bottom: 40px;
}
.post-news-container-first-right a:nth-child(2) {
  color: #16ae54;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.post-news-container-first-right a:nth-child(3),
.post-news-container-second-right a:nth-child(3) {
  color: #2f3134;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.post-news-container-first-right a:nth-child(4),
.post-news-container-second-right a:nth-child(4),
.post-news-container-second-right a:nth-child(5) {
  color: #2f3134;
  font-size: 14px;
}
/*NEWS CONTAINER SECOND RIGHT*/
.news-container-second-right {
  border-left: 1px solid #ebedef;
  padding-left: 20px;
  width: 50%;
}
.post-news-container-second-right {
  margin-bottom: 40px;
}
.post-news-container-second-right a:nth-child(2) {
  color: #ec8006;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.post-news-container-second-right a:nth-child(4) {
  margin-bottom: 10px;
}
